<!DOCTYPE html>
<html>
<head>
    <title> {{fName}} {{lName}} | Profile </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>
<body>

<div id="content">
    <h1 id="name"> {{fName}} {{lName}} </h1>
    <h2 id="username"> @{{username}} </h2>
    <p id="bio"> {{bio}} </p>
</div>

</body>
</html>
